/*############################### content ######################################*/
	#contentWrap{width:100%;background-color:#fff; padding-top:90px;}

/*#################### google_maps ######################*/
		#location_google{width:100%; height:500px; background-color:lightblue;}
				.title{width:100%; margin:30px 0 10px;}

/*################### location_info #####################*/
	.location_info{width:1000px; overflow:hidden; margin:0 auto;}
		.location_info_section{margin-top:60px; border-bottom:2px solid #000;}
			.location_info_section:last-child{border-bottom:none; margin-bottom:60px;}
		.location_title{width:100%; height:30px;}

			h3 a, h4 a{ cursor:context-menu;}
			.location_info h3{font-size:22px; text-align:center;}
			.location_info h3 a{display:block; width:100%; height:100%; color:#000; text-decoration:none;}
			.location_info hr{width:20px; border:2px solid #000; margin:10px auto;}

			.location_info h4{font-size:16px; text-align:center;}
			.location_info h4 a{color:#000;text-decoration:none}
			.location_text{font-size:14px; text-transform:lowercase; padding:20px 10px;}
				.last{padding-bottom:60px;}
