body{font-family:"Montserrat", Noto Sans; margin:0; padding:0;}

/*############################### wrap #######################################*/
	#wrap{width:100%; text-transform:uppercase;}
	/*jQuery로 제어*/
		.wrap_dark{
								display:block;
								width:100%;
								height:100%;
								position:fixed;
								top:0;
								left:0;
								background-color:rgba(0,0,0,0.8);
							}

/*############################# headerWRap ###################################*/
	#headerWrap{
							width:100%;
							border-top:4px solid #2B2727;
							background-color:#fff;
							border-bottom:1px solid #ccc;
							position:fixed;
							top:0;
							z-index:3;
							}

/*###################### top_headerWRap ############################*/
	#top_headerWrap{width:100%; height:240px; background-color:#2B2727;}
		.login_info{width:100%;}
			.login_info h2{padding:30px 0; color:#fff; text-align:center;}
				.login_info fieldset{border:none;}
			.input_user{width:700px; height:40px; margin:0 auto 20px;}
				.input_user p{width:200px; height:35px; float:left;margin-left:30px;}
					.input_user p.input_btn_login{width:80px; height:39px;}
					.input_user p.input_userid{margin-left:80px;}
					.input_user p input{
															width:100%;
															height:100%;
															border:2px solid #fff;
															background-color:#2B2727;
															color:#fff;
														 }
						#userid, #userpw{text-indent:12px;}

			.input_etc{width:700px; margin:0 auto; text-align:center;}
				.input_etc ul:after{content:""; display:block; clear:both;}
					.input_etc ul li{display:inline-block; padding:0 7px; color:#fff;}
						.input_etc ul li a{color:#fff;}

/*###################### bottom_headerWRap #########################*/
	#bottom_headerWrap{width:100%; height:100%; position:relative;}

/*##################### top gnb #########################*/
	.nav{
				width:190px;
				height:20px;
				position:absolute;
				top:20px;
				right:50px;
				z-index:1;
			}
		.nav ul:after{content:""; dispaly:block; clear:both;}
		.nav ul li{float:left;}
			.nav ul li a{padding:0 6px; font-size:12px; color:#333;}
			.nav ul li.fast_event a{color:#FF3636;}
				.fast_event a img{width:12px; height:12px;}

/*#################### gnb ########################*/
		.m_r_gnb, .m_l_gnb{position:absolute;top:15px; right:40px; display:none;}
			.m_l_gnb{ left:40px;}
			.m_r_gnb p{width:30px; height:30px;}

			.m_l_gnb{top:18px;}
			 .m_l_gnb p{width:26px; height:26px;}

				.m_r_gnb p img, .m_l_gnb p img{width:100%; height:100%;}

#header{width:100%; height:90px; margin:0 auto; position:relative;}
	h1{
		width:190px;
		height:40px;
		 position:absolute;
		 top:10px; left:50%;
		 margin-left:-95px;
		 z-index:1;
	 }
		h1 img{width:100%; height:100%;}

		.m_header_btn{
									width:100%;
									height:24px;
									position:absolute;
									top:13px;
									left:0;
									display:none;
								 }
			.m_menu_btn, .m_reser_btn{width:24px; height:24px; position:absolute; top:0;}
				.m_menu_btn img, .m_reser_btn img{width:100%; height:100%;}
					.m_menu_btn img a, .m_reser_btn img a{display:block; width:100%; height:100%;}
			.m_menu_btn{left:40px;}
			.m_reser_btn{right:40px;}

/*####################### gnb ###########################*/
	.gnb{padding-top:60px;text-align:center;}
		/*main GNB, sub GNB 공통으로 사용*/
		.gnb ul li{display:inline-block; margin-left:10px; position:relative;}
		.gnb ul li:last-child{margin-left:0;}
			/*main GNB 리스트(sub GNB 리스트와 다르게 표시하기 위해 나눔)*/
			.gnb_list li a{padding:5px 8px; color:#AEA288; font-weight:bold;}

				.sub_gnb_list{
											width:100%;
											position:fixed;
											top:95px;
											left:0;
											z-index:2;
											background-color:#2B2727;
										}
				.sub_gnb_list li{
													display:inline-block;
													text-align:center;
													margin-left:0;
													padding:3px 0;
												}
					.sub_gnb_list li a{color:#fff; font-size:12px; padding:0 8px;}

/*###################### m_header ##########################*/
	.m_header{
						width:320px;
						height:950px;
						position:fixed;
						top:5px;
						left:-320px;
						background-color:#fff;
						z-index:4;
					}

		.m_top{width:100%; height:50px; position:relative;}
			.m_logo{
							width:40px;
							height:40px;
							position:absolute;
							top:5px;
							left:50%;
							margin-left:-20px;
							}
				.m_logo img{width:100%; height:100%;}
			.m_menu_close_btn{width:24px; height:24px; position:absolute; top:13px; left:40px;}
				.m_menu_close_btn img{width:100%; height:100%;}

		.m_bottom{width:100%; height:50px;}
			.user_info{width:100%; height:100%; background-color:#2B2727;}
				.user_info li{
											width:50%;
											height:100%;
											line-height:50px;
											text-align:center;
											float:left;
											}
					.user_info li a{display:block; width:100%; height:100%; color:#fff;}
					.m_login{border-right:1px solid #ccc; box-sizing:border-box;}

		.m_gnb{width:100%; background-color:#fff; overflow:auto;}
			.m_gnb_list{width:100%;}
				.m_gnb_list li{width:100%;}
					.m_gnb_list li a{
														display:block;
														width:305px;
														height:100%;
														border-bottom:1px solid #000;
														padding:13px 0 13px 15px;
														position:relative;
														color:#000;
													}
						.m_gnb_list li a span{
																	font-size:24px;
																	font-weight:bold;
																	position:absolute;
																	top:3px;
																	right:10px;
																	}
						.m_sub_gnb_list li a{
																	width:275px;
																	padding-left:45px;
																	font-size:13px;
																	background-color:#eee;
																	color:#555;
																}
/*############################### content ######################################*/
  #contentWrap{width:100%; padding-top:90px;}

/*#################### m_login #######################*/
	.m_login_info{width:320px; margin:0 auto; overflow:hidden;}
		.m_login_info h2{padding:30px 0; text-align:center; letter-spacing:3px;}
			.m_login_area{width:100%; margin:150px auto 209px;}
		.m_input_user{width:100%; overflow:hidden; margin:0 auto 20px;}
			.m_input_user p{width:240px; height:35px; margin:10px auto;}
				p.m_input_btn_login{height:59px; margin:0 auto; font-size:20px;}
				.m_input_user p input{
														width:100%;
														height:100%;
														border:2px solid #ccc;
														box-sizing:border-box;
													 }
				p.m_input_btn_login input{background-color:#2B2727; color:#fff; border:2px solid #2B2727;}
					#userid, #userpw{text-indent:12px;}

		.m_input_etc{width:100%; margin:0 auto; text-align:center;}
			.m_input_etc ul:after{content:""; display:block; clear:both;}
				.m_input_etc ul li{display:inline-block; padding:0 7px; color:#fff;}
					.m_input_etc ul li a{color:#000;}

/*############################### footer ######################################*/
	#footerWrap{width:100%;height:250px; background-color:#2B2727;}
		#footerWrap h2{
									font-size:32px;
									color:#fff;
									padding:20px 0;
									text-align:center;
									letter-spacing:15px;
									font-weight:400;
									}

/*#################### footer top ######################*/
	.footer_top{width:100%; height:160px; color:#fff;}
		.footer_top_area{width:100%; height:100%; margin:0 auto; position:relative; text-align:center;}
			.footer_gnb{
									width:470px;
									height:40px;
									margin:0 auto;
									line-height:40px;
									padding-top:10px;
									font-size:14px;
								}
				.footer_gnb li{display:inline-block; margin-left:10px;}
					.footer_gnb li:first-child{margin-left:0;}
					.footer_gnb li a{padding:5px 8px; color:#fff; font-weight:bold;}

			.footer_logo{width:70px;height:70px; margin:0 auto; padding-top:20px;}
				.footer_logo a{width:100%; height:100%;}
					.footer_logo a img{width:100%; height:100%;}

			.footer_info{width:100%; margin:0 auto; padding-top:20px;}
				.footer_info:after{content:""; display:block; clear:both; padding-bottom:10px;}
				.footer_info li{width:24%; float:left; margin-right:1%;}
					.footer_info li dl dt{
																text-align:center;
																padding-bottom:10px;
																font-size:13px;
																font-weight:bold;
																color:#777;
															}
						.footer_info li dl dd{font-size:12px; text-align:center; color:#777;}
						address{font-style:normal;}

/*#################### footer bottom ######################*/
	.footer_bottom{width:100%; height:90px;}
		.footer_bottom_area{width:1000px; height:100%; margin:0 auto;}
			.copyright{color:#444; text-align:center; font-size:14px;}
