/*############################### content ######################################*/
  #contentWrap{width:100%; padding-top:90px;}

/*#################### m_login #######################*/
	.m_login_info{width:320px; margin:0 auto; overflow:hidden;}
		.m_login_info h2{padding:30px 0; text-align:center; letter-spacing:3px;}
			.m_login_area{width:100%; margin:80px auto 110px;}
		.m_input_user{width:100%; overflow:hidden; margin:0 auto 20px;}
			.m_input_user p{width:240px; height:35px; margin:10px auto;}
				p.m_input_btn_login{height:59px; margin:0 auto; font-size:20px;}
				.m_input_user p input{
														width:100%;
														height:100%;
														border:2px solid #ccc;
														box-sizing:border-box;
													 }
				p.m_input_btn_login input{background-color:#2B2727; color:#fff; border:2px solid #2B2727;}
					#userid, #userpw{text-indent:12px;}

		.m_input_etc{width:100%; margin:0 auto; text-align:center;}
			.m_input_etc ul:after{content:""; display:block; clear:both;}
				.m_input_etc ul li{display:inline-block; padding:0 7px; color:#fff;}
					.m_input_etc ul li a{color:#000;}
