/*############################### content ######################################*/
  #contentWrap{width:100%; padding-top:90px;}

/*#################### title ######################*/
	.title{width:100%; margin:50px 0;}
		.title_stick{width:200px; height:5px; background-color:#000; margin:0 auto;}
		.title h2{font-size:48px; text-align:center; font-weight:400; margin-top:10px;}

/*#################### text_arae ######################*/
	.terms_text{width:920px; padding:0 40px; margin:0 auto 50px;}
		.terms_text textarea{width:100%; height:500px;}
