/*############################### content #####################################*/
	#contentWrap{width:100%;background-color:#fff;padding-top:90px;}

/*####################### visual ###########################*/
  .visual_area{width:100%; height:500px; position:relative; overflow:hidden;}
    .visual_area_img{
										width:100%;
										height:100%;
										background:url("../img/reservation/planer.jpg") no-repeat center center;
										background-size:cover;
									}
      .visual_area p img{width:100%; height:100%;}
    .dark{
					display:block;
					width:100%;
					height:100%;
					background-color:rgba(0,0,0,0.1);
					position:absolute;
					top:0;
					left:0;
				}

    .visual_area_title{
												width:100%;
												height:70px;
												position:absolute;
												top:45%;
												text-align:center;
												color:#fff;
											}
      .visual_area_title hr{width:200px; border:2px solid #fff; margin:0 auto;}
      .visual_area_title h2{font-size:48px; letter-spacing:5px;}

/*##################### room_select #########################*/
	.reservation_form{width:1000px; overflow:hidden; margin:0 auto;}
	.room_select_area{width:100%; height:200px; margin-top:20px;}
		.room_select_title{
												width:200px;
												height:100%;
												line-height:200px;
												font-size:20px;
												font-weight:bold;
												text-align:center;
												background-color:#2B2727;
												color:#fff;
												float:left;
											}
		.room_select{width:800px; height:100%; float:left;}
			.room_select li{
											width:25%;
											height:50%;
											float:left;
											text-align:center;
											line-height:100px;
											border-left:1px solid #ccc;
											border-bottom:1px solid #ccc;
											box-sizing: border-box;
										}
				.border_top{border-top:1px solid #ccc;}
				.border_right{border-right:1px solid #ccc;}
				.room_select li a{display:block; width:100%; height:100%; color:#000;}

/*##################### date_select #########################*/
	.calender{width:994px; margin:30px auto; overflow:hidden; position:relative;}
		.ym_select{
								text-align:center;
								padding:20px 0;
								font-size:24px;
								position:relative;
								border:1px solid #ccc;
								border-bottom:none;
							}
			.ym_select p{position:absolute; top:28%; width:30px; height:30px;}
			.btn_ym_select_prev{left:40%;}
			.btn_ym_select_next{right:40%;}
				.ym_select p img{width:100%; height:100%;}

		.calender ul{width:100%;}
			.calender ul li{
											width:142px;
											float:left;
											text-align:center;
											border-left:1px solid #ccc;
											box-sizing: border-box;
										}

		.d_select_header{
											height:40px;
											line-height:40px;
											border-top:2px solid #000;
											border-bottom:1px solid #2B2727;
										}
			.sun{color:red;}
			.sat{color:blue;}
		.d_select_date li{border-bottom:1px solid #ccc; box-sizing: border-box;}
			.d_date{background-color:#f7f7f7; text-align:left; padding-left:20px;}
			.event_date{height:20px; font-size:12px; line-height:20px;}
			.price_date{padding-bottom:30px; line-height:30px;}

		/*step1, step2 공통 양식*/
		.none_selected_step{
													width:100%;
													height:100%;
													background-color:#fff;
													opacity:0.98;
													position:absolute;
													top:0;
													left:0;
													padding:0;
													border:1px solid #ccc;
													box-sizing:border-box;
													display:none;
												}
			.step_area{
									width:400px;
									height:300px;
									position:absolute;
									top:50%;
									margin-top:-150px;
									left:50%;
									margin-left:-200px;
									text-align:center;
								}
			.step_info{
									position:absolute;
									top:50%;
									margin-top:-85.5px;
									left:50%;
									margin-left:-75.5px;
									text-align:center;
								}
			.step_info_step2{
									margin-left:-101.5px;
								}
				.step_radius{
											width:150px;
											height:150px;
											background-color:#2B2727;
											border-radius:150px;
											color:#fff;
											line-height:150px;
											font-size:24px;
											margin:0 auto;
										}
				.step_text{padding-top:10px; font-weight:bold;}



/*###################### etc_select ##########################*/
	.option_area{width:820px;margin:0 auto; overflow:hidden; position:relative;}
		.option_area_right{width:400px; float:right;}
		.option_area_left{width:400px; float:left;}
			.necessary_guide{font-size:14px; float:right;}
			.option{width:100%; margin:10px 0; clear:both;font-weight:bold;}
				.option_title{
											width:100%;
											background-color:#F7F7F7;
											padding:5px 0;
											border:1px solid #ccc;
											box-sizing: border-box;
											font-size:14px;
											text-indent:10px;
										}
					.option_title h3{display:inline-block;}
					.necessary{font-size:18px; color:red;}
				.option_content{
												width:100%;
												overflow:hidden;
												padding:20px 0;
												border:1px solid #ccc;
												border-top:none;
												box-sizing: border-box;
											}

			/*기간 선택*/
			.check_inout_area{width:250px; overflow:hidden; margin:0 auto;}
			.check_in, .check_out{width:80px; padding:5px 0; float:left;}
				.check_in span, .check_out span{font-size:11px;}
			.check_between{padding:0 40px 0 40px; margin-top:10px; float:left;}
			#check_date{display:block; clear:both; width:100%;}

			/*인원 선택*/
			.check_adult, .check_child, .check_kid{width:100px; float:left;}
		 	.check_people_content_area{width:302px; margin:0 auto;}

			/*부가옵션 선택*/
			.add_option_content ul li{font-size:14px; padding:0 25px;}
				.add_option_content ul li p{font-size:13px; padding:8px 17px; color:#999;}
				.add_option_content ul li input, .add_option_content ul li select{vertical-align:middle;}
				.add_option_content ul li select{display:block; float:right;}

			/*적립금 사용, 지불 금액*/
			.price{margin-top:22px;}
				.price_content{font-size:14px;}
					.price_content p{text-align:center;}
						.price_content p label{display:inline-block; width:140px; text-align:left;}
						.price_content p input{width:150px;}

						.price_content p input{border:none; background:none; font-size:16px; text-align:right;}
						.total_area{font-weight:bold; padding-top:20px;}
							.total_area label, #total{font-size:28px; font-weight:bold;}

			/*다음단계 버튼*/
				.btn_submit_area{border-top:2px solid #000; text-align:center;}
					#btn_submit{
											margin:30px;
											width:200px;
											height:50px;
											border:2px solid #000;
											background-color:#fff;
											font-size:20px;
											font-weight:bold;
											cursor:pointer;
										}
