/*############################### content #####################################*/
	#contentWrap{width:100%;background-color:#fff; padding-top:94px;}
    .slide_area{
								width:100%;
								height:500px;
								position:relative;
								overflow:hidden;
							}
      .slide_img{
									width:100%;
									height:100%;
									background:url("../img/tour/tour_main_img00.jpg") no-repeat center center;
									background-size:cover;
								}
      .dark{display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.2); position:absolute; top:0; left:0;}

      .slide_area_title{width:100%; height:70px; position:absolute; top:45%; text-align:center; color:#fff;}
        .slide_area_title hr{width:200px; border:2px solid #fff; margin:0 auto;}
        .slide_area_title h2{font-size:48px; letter-spacing:5px;}

    .reser_guide_area{width:1200px; margin:0 auto; overflow:hidden;}
      .reser_guide_title{margin-top:40px;}
        .reser_guide_title hr{margin:10px 0; display:block; width:30px; border:2px solid #AEA288;}
      .room_rate{width:100%; margin:0 auto; overflow:hidden;}
        .room_rate table{width:100%; text-align:center; border-collapse:collapse; margin:20px 0;}
          .b_bottom{border-bottom:1px solid #777; border-bottom-width:2px;}
          .b_right{border-right:1px solid #777;}
          .room_rate table thead th{padding:5px 0;background-color:#AEA288; color:#fff;}
          .room_rate table tbody td{font-size:14px; padding:5px 0;}

      .reser_guide_area li, .reser_guide_area dd{font-size:14px; list-style:disc;}
      .reser_guide_area dl{margin:50px 0;}
      .reser_guide_area dt{padding-bottom:15px;}
