/*############################### content #####################################*/
	#contentWrap{width:100%;background-color:#fff; padding-top:90px;}
/*####################### visual ###########################*/
  .visual_area{width:100%; height:500px; position:relative; overflow:hidden;}
    .visual_area_img{
										width:100%;
										height:100%;
										background:url("../img/tour/tour_main_img00.jpg") no-repeat center center;
										background-size:cover;
									}
      .visual_area p img{width:100%; height:100%;}
    .dark{
					display:block;
					width:100%;
					height:100%;
					background-color:rgba(0,0,0,0.1);
					position:absolute;
					top:0;
					left:0;
				}

    .visual_area_title{
												width:100%;
												height:70px;
												position:absolute;
												top:45%;
												text-align:center;
												color:#fff;
											}
      .visual_area_title hr{width:200px; border:2px solid #fff; margin:0 auto;}
      .visual_area_title h2{font-size:48px; letter-spacing:5px;}
	/*############################## reservation_form ################################*/
		.reservation_form{width:1024px; overflow:hidden; margin:0 auto;}

		/*##################### comman_matter #######################*/
			.option{width:100%; margin:20px 0;}
				.option_title{font-size:16px;}
					.option_title hr{width:30px; border:2px solid #000;display:block; margin:10px 0;}
			.table_area{border:1px solid #ccc;}
			.table_1{width:100%; border-collapse:collapse;}
				.table_1 th{
										width:160px;
										padding:10px 0;
										background-color:#F2F2F2;
										box-sizing:border-box;
									}
				.table_1 td{padding-left:20px; border-bottom:1px solid #ccc; box-sizing:border-box;}
					td.last{border-bottom:none;}
					.info_text{font-size:13px;color:#999; margin-bottom:5px;}
				.table_1 input{height:30px; margin:10px 0;}
				.table_1 select{height:30px; margin:10px 0 5px;}
					.table_1 select option{text-align:center;}

			/*####################### option #########################*/
				.price_box{width:120px; float:left;}
				.price_value{display:block; width:120px; float:left; text-align:right;}
				.won{display:block; width:25px; float:left; text-align:center;}
				.oper{display:block; width:20px; float:left;}
				.last div{clear:both; margin:5px 0;}
				.last hr{width:300px; border-color:#000;}

			/*#################### personal_info ######################*/
				.phone_area input{width:100px; text-align:center;}

			/*####################### comment #########################*/
				.comment_area textarea{width:90%; padding:10px; margin:10px 0;}

			/*##################### refund_rule #######################*/
				.refund_info ul li{list-style:disc; font-size:14px; padding-left:20px;}
				.table_2{
									width:100%;
									text-align:center;
									border-collapse:collapse;
									border-top:1px solid #ccc;
									border-bottom:1px solid #ccc;
									margin-top:20px;
									box-sizing:border-box;
								}
					.table_2 caption{font-size:14px; text-align:left; font-weight:bold;}
					.table_2 thead{font-size:14px;}
					.table_2 tbody{font-size:13px;}
					.table_2 th, .table_2 td{padding:10px 0;}
					.table_2 th{background-color:#F2F2F2;}


				.btn_submit_area{border-top:2px solid #000; text-align:center;}
					#btn_submit{
											margin:30px;
											width:200px;
											height:50px;
											border:2px solid #000;
											background-color:#fff;
											font-size:20px;
											font-weight:bold;
											cursor:pointer;
										}
