body{font-family:"Montserrat", Noto Sans; margin:0; padding:0;}

/*############################### wrap #######################################*/
	#wrap{width:100%; text-transform:uppercase;}
	/*jQuery로 제어*/
		.wrap_dark{
								display:block;
								width:100%;
								height:100%;
								position:fixed;
								top:0;
								left:0;
								background-color:rgba(0,0,0,0.8);
							}

/*############################# headerWRap ###################################*/
	#headerWrap{
							width:100%;
							border-top:4px solid #2B2727;
							background-color:#fff;
							border-bottom:1px solid #ccc;
							position:fixed;
							top:0;
							z-index:3;
							}


/*###################### top_headerWRap ############################*/
#top_headerWrap{width:100%; height:240px; background-color:#2B2727;}
	.login_info{width:100%;}
		.login_info h2{padding:30px 0; color:#fff; text-align:center;}
			.login_info fieldset{border:none;}
		.input_user{width:700px; height:40px; margin:0 auto 20px;}
			.input_user p{width:200px; height:35px; float:left;margin-left:30px;}
				.input_user p.input_btn_login{width:80px; height:39px;}
				.input_user p.input_userid{margin-left:80px;}
				.input_user p input{
														width:100%;
														height:100%;
														border:2px solid #fff;
														background-color:#2B2727;
														color:#fff;
													 }
					#userid, #userpw{text-indent:12px;}

		.input_etc{width:700px; margin:0 auto; text-align:center;}
			.input_etc ul:after{content:""; display:block; clear:both;}
				.input_etc ul li{display:inline-block; padding:0 7px; color:#fff;}
					.input_etc ul li a{color:#fff;}

/*###################### bottom_headerWRap #########################*/
#bottom_headerWrap{width:100%; height:100%; position:relative;}

/*##################### top gnb #########################*/
		.nav{
					width:190px;
					height:20px;
					position:absolute;
					top:20px;
					right:50px;
					z-index:1;
				}
			.nav ul:after{content:""; dispaly:block; clear:both;}
			.nav ul li{float:left;}
				.nav ul li a{padding:0 6px; font-size:12px; color:#333;}
				.nav ul li.fast_event a{color:#FF3636;}
					.fast_event a img{width:12px; height:12px;}
	/*#################### gnb ########################*/
			.m_r_gnb, .m_l_gnb{position:absolute;top:15px; right:40px; display:none;}
				.m_l_gnb{ left:40px;}
				.m_r_gnb p{width:30px; height:30px;}

				.m_l_gnb{top:18px;}
				 .m_l_gnb p{width:26px; height:26px;}

					.m_r_gnb p img, .m_l_gnb p img{width:100%; height:100%;}

	#header{width:100%; height:90px; margin:0 auto; position:relative;}
		h1{
			width:190px;
			height:40px;
			 position:absolute;
			 top:10px; left:50%;
			 margin-left:-95px;
			 z-index:1;
		 }
			h1 img{width:100%; height:100%;}

			.m_header_btn{
										width:100%;
										height:24px;
										position:absolute;
										top:13px;
										left:0;
										display:none;
									 }
				.m_menu_btn, .m_reser_btn{width:24px; height:24px; position:absolute; top:0;}
					.m_menu_btn img, .m_reser_btn img{width:100%; height:100%;}
						.m_menu_btn img a, .m_reser_btn img a{display:block; width:100%; height:100%;}
				.m_menu_btn{left:40px;}
				.m_reser_btn{right:40px;}
	/*####################### gnb ###########################*/
		.gnb{padding-top:60px;text-align:center;}
			/*main GNB, sub GNB 공통으로 사용*/
			.gnb ul li{display:inline-block; margin-left:10px; position:relative;}
			.gnb ul li:last-child{margin-left:0;}
				/*main GNB 리스트(sub GNB 리스트와 다르게 표시하기 위해 나눔)*/
				.gnb_list li a{padding:5px 8px; color:#AEA288; font-weight:bold;}

					.sub_gnb_list{
												width:100%;
												position:fixed;
												top:95px;
												left:0;
												z-index:2;
												background-color:#2B2727;
											}
					.sub_gnb_list li{
														display:inline-block;
														text-align:center;
														margin-left:0;
														padding:3px 0;
													}
						.sub_gnb_list li a{color:#fff; font-size:12px; padding:0 8px;}

/*###################### m_header ##########################*/
	.m_header{
						width:320px;
						height:950px;
						position:fixed;
						top:5px;
						left:-320px;
						background-color:#fff;
						z-index:4;
					}

		.m_top{width:100%; height:50px; position:relative;}
			.m_logo{
							width:40px;
							height:40px;
							position:absolute;
							top:5px;
							left:50%;
							margin-left:-20px;
							}
				.m_logo img{width:100%; height:100%;}
			.m_menu_close_btn{width:24px; height:24px; position:absolute; top:13px; left:40px;}
				.m_menu_close_btn img{width:100%; height:100%;}

		.m_bottom{width:100%; height:50px;}
			.user_info{width:100%; height:100%; background-color:#2B2727;}
				.user_info li{
											width:50%;
											height:100%;
											line-height:50px;
											text-align:center;
											float:left;
											}
					.user_info li a{display:block; width:100%; height:100%; color:#fff;}
					.m_login{border-right:1px solid #ccc; box-sizing:border-box;}

		.m_gnb{width:100%; background-color:#fff; overflow:auto;}
			.m_gnb_list{width:100%;}
				.m_gnb_list li{width:100%;}
					.m_gnb_list li a{
														display:block;
														width:305px;
														height:100%;
														border-bottom:1px solid #000;
														padding:13px 0 13px 15px;
														position:relative;
														color:#000;
													}
						.m_gnb_list li a span{
																	font-size:24px;
																	font-weight:bold;
																	position:absolute;
																	top:3px;
																	right:10px;
																	}
						.m_sub_gnb_list li a{
																	width:275px;
																	padding-left:45px;
																	font-size:13px;
																	background-color:#eee;
																	color:#555;
																}

/*############################## content ###################################*/
	#contentWrap{width:100%; overflow:hidden;}
/*####################### visual ###########################*/
		#visual{width:100%;padding-top:90px;}
			.visual_main{width:100%; height:500px; position:relative; overflow:hidden;}
			.visual_main_img{
											width:100%;
											height:100%;
											background-repeat:no-repeat;
											background-size:cover;
										}
				.dark{
							display:block;
							width:100%;
							height:100%;
							position:absolute;
							top:0;
							left:0;
							background-color:rgba(0,0,0,0.2);
							}
				.visual_main_text{
													width:100%;
													overflow:hidden;
													position:absolute;
													top:45%;
													text-align:center;
													color:#fff;
												}
					.visual_main_text hr{width:200px; border:2px solid #fff; margin:0 auto;}
					.visual_main_text h2{font-size:48px; letter-spacing:5px; width:100%;}
					.visual_main_text p{padding-top:30px;}

/*######################### modal #############################*/
			.modal_area{
									width:100%;
									overflow:hidden;
									padding-top:90px;
									position:relative;
								}
				.modal_area ul{width:100%; overflow:hidden;}
					.modal_area ul li{
														width:20%;
														height:220px;
														float:left;
														background-size:cover;
														border-right:1px solid #fff;
														border-bottom:1px solid #fff;
														box-sizing:border-box;
													}
					.right1920{border-right:none;}
						.modal_area ul li a{display:block; width:100%; height:100%;}

			.modal{
							width:100%;
							height:800px;
							border:5px solid #fefefe;
							position:fixed;
							top:50%;
							margin-top:-350px;
							box-sizing:border-box;
							box-shadow:10px 10px 10px rgba(0,0,0,0.5);
							background-position:center 50%;
							background-size:cover;
						}

/*####################### room_desc ###########################*/
		.room_info_area{width:100%; overflow:hidden;}
			.room_info_text{width:500px; margin:100px auto; text-align:center; font-size:14px;}

			.table{
							width:1000px;
							height:360px;
							margin:60px auto;
							overflow:hidden;
							text-align:center;
							font-size:14px;
						}
				.table hr{width:10px; border:1px solid #000; margin:30px auto;}
				.table span{font-size:36px; font-weight:bold;}
				.table p{padding:10px 0;}
					.table p strong{font-size:18px;}
					.table p b{font-size:16px;}
				.people{width:25%; height:100%; float:left;background-color:#AEA288; color:#fff;}
					.people hr{border:1px solid #fff;}
				.price{width:75%; float:left; height:100%;}
					.price li{width:33%; height:100%; float:left; border-right:1px solid #aaa; box-sizing:border-box;}
						.price li p strong{color:##AEA288;}

/*####################### room_info ###########################*/
		.room_info_desc{
										width:100%;
										height:750px;
										margin:50px 0 0;
										background-repeat:no-repeat;
										background-size:cover;
										clear:both;
										position:relative;
									}

			.room_info_desc ul{width:1200px; height:100%; margin:50px auto;}
				.room_info_desc ul li{
															width:575px;
															height:300px;
															margin-right:50px;
															margin-top:50px;
															background-color:#fff;
															float:left;
														}
					.room_info_desc ul li.right{margin-right:0;}

					.room_info_desc ul li p.icon{width:50px; height:50px; margin:40px auto;}
					.icon img{width:100%; height:100%;}

					h4{text-align:center; font-size:18px; color:#AEA288;}
					.room_info_desc hr{width:10px; margin:40px auto; border:1px solid #000;}
					p.object{text-align:center; font-size:14px;}
			.slide_btn{
									width:100%;
									height:50px;
									position:absolute;
									top:50%;
									left:0;
									margin-top:-25px;
									display:none;
								}
				.slide_btn p{width:50px; height:100%; position:absolute; top:0;}
				.prev{left:0;}
				.next{right:0;}
					.slide_btn p a{display:block; width:100%; height:100%;}
						.slide_btn p img{width:100%; height:100%;}

/*############################### footer ######################################*/
	#footerWrap{width:100%;height:250px; background-color:#2B2727;}
		#footerWrap h2{
									font-size:32px;
									color:#fff;
									padding:20px 0;
									text-align:center;
									letter-spacing:15px;
									font-weight:400;
									}

	/*#################### footer top ######################*/
		.footer_top{width:100%; height:160px; color:#fff;}
			.footer_top_area{width:100%; height:100%; margin:0 auto; position:relative;}
				.footer_gnb{
										width:470px;
										height:40px;
										margin:0 auto;
										line-height:40px;
										padding-top:10px;
										font-size:14px;
									}
					.footer_gnb li{display:inline-block; margin-left:10px;}
						.footer_gnb li:first-child{margin-left:0;}
						.footer_gnb li a{padding:5px 8px; color:#fff; font-weight:bold;}

				.footer_logo{width:70px;height:70px; margin:0 auto; padding-top:20px;}
					.footer_logo a{width:100%; height:100%;}
						.footer_logo a img{width:100%; height:100%;}

				.footer_info{width:100%; margin:0 auto;}
					.footer_info:after{content:""; display:block; clear:both; padding-bottom:10px;}
					.footer_info li{width:24%; float:left; margin-right:1%;}
						.footer_info li dl dt{
																	text-align:center;
																	padding-bottom:10px;
																	font-size:13px;
																	font-weight:bold;
																	color:#777;
																}
							.footer_info li dl dd{font-size:12px; text-align:center; color:#777;}
							address{font-style:normal;}

	/*#################### footer bottom ######################*/
		.footer_bottom{width:100%; height:90px;}
			.footer_bottom_area{width:1000px; height:100%; margin:0 auto;}
				.copyright{color:#444; text-align:center; font-size:14px;}
