@media all and (min-width:1025px) and (max-width:1200px){

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:769px) and (max-width:1024px){
/*########################## header 769 ~ 1024px ###############################*/
/*#################### gnb 769 ~ 1024px #######################*/
	.sub_gnb_list li a{color:#fff; font-size:11px; padding:0 5px;}

/*########################## content 769 ~ 1024px ##############################*/
/*#################### visual 769 ~ 1024px ########################*/
	.visual_area{height:400px;}
		.visual_area_title hr{width:150px;}
		.visual_area_title h2{font-size:32px; letter-spacing:4px;}

/*################# room_select 769 ~ 1024px #####################*/
	.reservation_form{width:700px;}
		.room_select_area{height:140px;}
			.room_select_title{width:140px; line-height:140px; font-size:18px;}
			.room_select{width:560px;}
				.room_select li{line-height:70px;}

/*################# date_select 769 ~ 1024px #####################*/
	.calender{width:100%; margin:0; margin-top:30px;}
		.calender ul li{width:100px;}

/*################# etc_select 769 ~ 1024px #####################*/
	.option_area{width:100%; margin-top:30px;}
		.option_area_right, .option_area_left{width:340px;}

		.add_option_content ul li{font-size:13px; padding:0 10px;}

/*########################## footer 769 ~ 1024px ###############################*/
/*############# footer bottom 769 ~ 1024px ###############*/
	.footer_bottom_area{width:100%; height:100%; margin:0 auto;}
	}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:481px) and (max-width:768px){
/*########################## header 481 ~ 768px ###############################*/
/*#################### gnb 481 ~ 768px #######################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}
		.m_header_btn{display:block;}

/*########################## content 481 ~ 768px ##############################*/
/*##################### visual 481 ~ 768px #########################*/
	#contentWrap{padding-top:50px;}
		.visual_area{height:300px;}
			.visual_area_title hr{width:120px;}
			.visual_area_title h2{font-size:24px; letter-spacing:3px;}

/*################# room_select 481 ~ 768px #####################*/
	.reservation_form{width:480px;}
		.room_select_area{height:100px;}
			.room_select_title{width:96px; line-height:100px; font-size:16px;}
			.room_select{width:384px;}
				.room_select li{line-height:50px;}
					.room_select li a{font-size:13px;}

/*################# date_select 481 ~ 768px #####################*/
	.calender{width:100%; margin:0; margin-top:30px;}
		.ym_select{text-align:center; padding:15px 0; font-size:18px;}
			.ym_select p{top:22%;}
			.btn_ym_select_prev{left:10%;}
			.btn_ym_select_next{right:10%;}
				.calender ul li{width:68.5px;}
					.calender ul li a{font-size:12px;}

				.d_date{padding-left:10px;}

/*################# etc_select 481 ~ 768px #####################*/
	.option_area{width:100%; margin-top:30px;}
		.option_area_right, .option_area_left{width:400px; float:none; margin:0 auto;}

		.add_option_content ul li{font-size:14px; padding:0 10px;}

/*########################## footer 481 ~ 768px ###############################*/
#footerWrap{height:460px;}
	.footer_gnb{width:100%; font-size:12px; text-align:center;}

	.footer_bottom{width:100%; height:330px; background-color:#2B2727;}
	.footer_bottom_area{width:100%;}
		.footer_info li{width:100%; margin-right:0; padding-bottom:20px;}

		.footer_info li dl dt{font-size:14px;}
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:320px) and (max-width:480px){
/*########################## header 320 ~ 480px ###############################*/
	.m_menu_btn{left:20px;}
	.m_reser_btn{right:20px;}
	.m_menu_close_btn{left:20px;}
	.m_header_btn{display:block;}
/*#################### gnb 320 ~ 480px #######################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}

/*########################## content 320 ~ 480px ##############################*/
/*##################### visual 320 ~ 480px #########################*/
	#visual{padding-top:50px;}
		.visual_area{height:200px;}
			.visual_area_title hr{width:100px;}
			.visual_area_title h2{font-size:18px; letter-spacing:2px;}

/*################# room_select 320 ~ 480px #####################*/
	.reservation_form{width:100%;}
		.room_select_area{height:80px;}
			.room_select_title{width:20%; line-height:80px; font-size:13px;}
			.room_select{width:80%;}

			.d_select_header{font-size:13px;}

				.room_select li{line-height:40px;}
					.room_select li a{font-size:10px;}

				.price_date{font-family:sans-serif;}


/*################# date_select 320 ~ 480px #####################*/
	.calender{width:100%; margin:0; margin-top:30px;}
		.ym_select{text-align:center; padding:15px 0; font-size:18px;}
			.ym_select p{top:22%;}
			.btn_ym_select_prev{left:10%;}
			.btn_ym_select_next{right:10%;}
				.calender ul li{width:14.2%}
					.calender ul li a{font-size:10px;}

				.d_date{padding-left:5px;}

/*################# etc_select 320 ~ 480px #####################*/
	.option_area{width:100%; margin-top:30px;}
		.option_area_right, .option_area_left{width:100%; float:none; margin:0 auto;}
			.option_title h3{font-size:14px;}

		.add_option_content ul li{font-size:11px; padding:0 10px;}
			.add_option_content ul li p{font-size:12px;}

		.mileage_content, .price_content{font-size:12px;}
			.mileage_content p label, .price_content p label{width:110px;}
			.mileage_content p input, .price_content p input{width:130px;}

/*########################## footer 320 ~ 480px ###############################*/
	#footerWrap{height:460px;}
		.footer_gnb{width:100%; font-size:12px; text-align:center;}
			.footer_gnb li{margin-left:2px;}
				.footer_gnb li a{padding:5px 3px;}
		.footer_logo{padding-top:10px;}

	.footer_bottom{width:100%; height:330px; background-color:#2B2727;}
	.footer_bottom_area{width:100%;}
		.footer_info li{width:100%; margin-right:0; padding-bottom:20px;}

			.footer_info li dl dt{font-size:14px;}
		}
