@media all and (min-width:1025px) and (max-width:1200px){
/*######################### content 1025 ~ 1200px ###############################*/
/*################## visual 1025 ~ 1200px ######################*/
	.modal_area ul li{height:170px;}
	.modal{height:700px; margin-top:-300px;}


	.room_info_desc ul{width:1000px;}
		.room_info_desc ul li{width:475px;}

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:769px) and (max-width:1024px){
/*########################## header 769 ~ 1024px ###############################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}
		.m_header_btn{display:block;}
/*#################### gnb 769 ~ 1024px #######################*/
	.sub_gnb_list li a{color:#fff; font-size:11px; padding:0 5px;}

/*########################## content 769 ~ 1024px ##############################*/
	#contentWrap{padding-top:50px;}

/*#################### visual 769 ~ 1024px ########################*/
.visual_main{height:400px;}
	.visual_main_text hr{width:150px;}
	.visual_main_text h2{font-size:32px; letter-spacing:4px;}
	.visual_main_text p{padding-top:30px; font-size:14px;}

/*#################### modal 769 ~ 1024px ########################*/
	.modal_area ul li{width:25%; height:140px;}
	.modal{height:400px; margin-top:-150px;}
	.modal_next, .modal_prev{width:50px; height:50px; margin-top:-25px;}

/*################# price_table 769 ~ 1024px #####################*/
	.table{width:700px;}

/*################## room_info 769 ~ 1024px ######################*/
		.room_info_desc{height:550px;}
			.room_info_desc ul{width:750px; height:100%; margin:50px auto;}
				.room_info_desc ul li{width:360px; height:230px; margin-right:0; margin-top:30px; background-color:#fff; float:left;}
					.room_info_desc ul li.right{margin-right:30px;}

					.room_info_desc ul li p.icon{width:30px; height:30px; margin:25px auto;}
					p.object{font-size:12px;}

/*########################## footer 769 ~ 1024px ###############################*/
/*############# footer bottom 769 ~ 1024px ###############*/
	#footerWrap{height:270px;}
		.footer_bottom_area{width:100%; height:100%; margin:0 auto;}
	}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:481px) and (max-width:768px){
/*########################## header 481 ~ 768px ###############################*/
/*#################### gnb 481 ~ 768px #######################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}
		.m_header_btn{display:block;}

/*########################## content 481 ~ 768px ##############################*/
/*##################### visual 481 ~ 768px #########################*/
	#visual{padding-top:50px;}
		.visual_main{height:300px;}
			.visual_main_text hr{width:120px;}
			.visual_main_text h2{font-size:24px; letter-spacing:3px;}
			.visual_main_text p{padding-top:30px; font-size:12px;}

/*##################### modal 481 ~ 768px #########################*/
	.modal_area{padding-top:50px;}
		.modal_area ul li{width:50%; height:170px;}
		.modal{height:300px; margin-top:-125px;}
		.modal_next, .modal_prev{width:50px; height:50px; margin-top:-25px;}


/*################### room_desc 481 ~ 768px #######################*/
		.room_info_text{width:100%; margin:40px auto 0; font-size:12px;}

/*################## price_table 481 ~ 768px ######################*/
	.table{width:480px; height:280px; margin:40px auto;}
		.table hr{margin:15px auto;}
		.table span{font-size:24px; font-weight:bold;}
			.table p strong{font-size:16px;}
			.table p b{font-size:14px;}

/*################### room_info 481 ~ 768px #######################*/
		.room_info_desc{height:290px; overflow:hidden;}
			.room_info_desc ul{width:400%; height:100%; margin:0}
				.room_info_desc ul li{width:25%; height:230px; margin:30px auto;}
					.room_info_desc ul li.right{margin-right:0;}

					.room_info_desc ul li p.icon{width:30px; height:30px; margin:25px auto;}
					p.object{font-size:12px;}

			.slide_btn{display:block;}

/*########################## footer 481 ~ 768px ###############################*/
#footerWrap{height:460px;}
		.footer_gnb{width:100%; font-size:12px; text-align:center;}

	.footer_bottom{width:100%; height:330px; background-color:#2B2727;}
	.footer_bottom_area{width:100%;}
		.footer_info li{width:100%; margin-right:0; padding-bottom:20px;}

			.footer_info li dl dt{font-size:14px;}
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (max-width:480px){
/*########################## header 320 ~ 480px ###############################*/
	.m_menu_btn{left:20px;}
	.m_reser_btn{right:20px;}
	.m_menu_close_btn{left:20px;}
	.m_header_btn{display:block;}
/*#################### gnb 320 ~ 480px #######################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}

/*########################## content 320 ~ 480px ##############################*/
/*##################### visual 320 ~ 480px #########################*/
	#visual{padding-top:50px;}
		.visual_main{height:200px;}
			.visual_main_text hr{width:100px;}
			.visual_main_text h2{font-size:18px; letter-spacing:2px;}
			.visual_main_text p{padding-top:30px; font-size:10px;}

/*##################### modal 320 ~ 480px #########################*/
	.modal_area{padding-top:50px;}
		.modal_area ul li{width:50%; height:110px;}
		.modal{height:200px; margin-top:-70px;}
		.modal_next, .modal_prev{width:30px; height:30px; margin-top:-15px;}


/*################### room_desc 320 ~ 480px #######################*/
		.room_info_text{width:100%; margin:40px auto 0; font-size:11px;}

/*################## price_table 320 ~ 480px ######################*/
	.table{width:320px; height:280px; margin:40px auto;}
		.table hr{margin:15px auto;}
		.table span{font-size:18px; font-weight:bold;}
			.table p strong{font-size:14px;}
			.table p b{font-size:12px;}

/*################### room_info 320 ~ 480px #######################*/
		.room_info_desc{height:290px; overflow:hidden;}
			.room_info_desc ul{width:400%; height:100%; margin:0}
				.room_info_desc ul li{width:25%; height:230px; margin:30px auto;}
					.room_info_desc ul li.right{margin-right:0;}

					.room_info_desc ul li p.icon{width:30px; height:30px; margin:25px auto;}
					p.object{font-size:12px;}

			.slide_btn{height:30px; margin-top:-15px; display:block;}
				.slide_btn p{width:30px;}

/*########################## footer 320 ~ 480px ###############################*/
	#footerWrap{height:460px;}
		.footer_gnb{width:100%; font-size:12px; text-align:center;}
			.footer_gnb li{margin-left:2px;}
				.footer_gnb li a{padding:5px 3px;}
		.footer_logo{padding-top:10px;}

	.footer_bottom{width:100%; height:330px; background-color:#2B2727;}
	.footer_bottom_area{width:100%;}
		.footer_info li{width:100%; margin-right:0; padding-bottom:20px;}

			.footer_info li dl dt{font-size:14px;}
		}
