@media all and (min-width:1025px) and (max-width:1200px){


}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:769px) and (max-width:1024px){
/*########################## header 769 ~ 1024px ###############################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}
		.m_header_btn{display:block;}

/*#################### gnb 769 ~ 1024px #######################*/
	.sub_gnb_list li a{color:#fff; font-size:11px; padding:0 5px;}

/*########################## content 769 ~ 1024px ##############################*/
/*#################### visual 769 ~ 1024px ########################*/
	.slide_area{padding-top:50px;}
		.slide_area ul{height:500px;}
			.slide_area_title{top:35%;}
			.slide_area_title hr{width:150px;}
			.slide_area_title h2{font-size:32px; letter-spacing:4px;}
			.dark{height:550px;}/*slide_area 높이값 + .slide_area ul 높이값*/
			.next, .prev{width:50px; height:50px; top:35%;}

		.slide_area_text, .slide_area_text div{position:static;}
		.dark_text{display:none;}
		.slide_area_text{height:130px; margin:120px auto;}
			.slide_area_text hr{border-color:#000;}
			.slide_area_text div{
													color:#000;
													height:100%;
													margin:0 auto;
													padding-top:0;
													}

/*########################## footer 769 ~ 1024px ###############################*/
/*############# footer bottom 769 ~ 1024px ###############*/
	#footerWrap{height:270px;}
		.footer_bottom_area{width:100%; height:100%; margin:0 auto;}
	}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width:481px) and (max-width:768px){
/*########################## header 481 ~ 768px ###############################*/
/*#################### gnb 481 ~ 768px #######################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}
		.m_header_btn{display:block;}


/*########################## content 481 ~ 768px ##############################*/
/*#################### visual 481 ~ 768px ########################*/
	.slide_area{padding-top:50px;}
		.slide_area ul{height:300px;}
			.slide_area_title{top:30%;}
			.slide_area_title hr{width:120px;}
			.slide_area_title h2{font-size:24px; letter-spacing:3px;}
			.dark{height:350px;}/*slide_area 높이값 + .slide_area ul 높이값*/
			.next, .prev{width:50px; height:50px; top:28%;}

		.slide_area_text, .slide_area_text div{position:static;}
		.dark_text{display:none;}
		.slide_area_text{height:180px; margin:80px auto;}
			.slide_area_text hr{border-color:#000;}
			.slide_area_text div{
													width:400px;
													color:#000;
													height:100%;
													margin:0 auto;
													padding-top:0;
													font-size:12px;
													}

/*########################## footer 481 ~ 768px ###############################*/
#footerWrap{height:460px;}
		.footer_gnb{width:100%; font-size:12px; text-align:center;}

	.footer_bottom{width:100%; height:330px; background-color:#2B2727;}
	.footer_bottom_area{width:100%;}
		.footer_info li{width:100%; margin-right:0; padding-bottom:20px;}

			.footer_info li dl dt{font-size:14px;}
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (max-width:480px){
/*########################## header 320 ~ 480px ###############################*/
	.m_menu_btn{left:20px;}
	.m_reser_btn{right:20px;}
	.m_menu_close_btn{left:20px;}
	.m_header_btn{display:block;}
/*#################### gnb 320 ~ 480px #######################*/
	#header{width:100%; height:50px;}
		h1{width:140px; height:30px; margin-left:-70px; top:5px;}
		.d_gnb{display:none;}
		.gnb{display:none;}
		.nav{display:none;}

/*########################## content 481 ~ 768px ##############################*/
/*#################### visual 481 ~ 768px ########################*/
	.slide_area{padding-top:50px;}
		.slide_area ul{height:200px;}
			.slide_area_title{top:30%;}
			.slide_area_title hr{width:100px;}
			.slide_area_title h2{font-size:18px; letter-spacing:2px;}
			.dark{height:250px;}/*slide_area 높이값 + .slide_area ul 높이값*/
			.next, .prev{width:30px; height:30px; top:28%;}

		.slide_area_text, .slide_area_text div{position:static;}
		.dark_text{display:none;}
		.slide_area_text{height:200px; margin:40px auto;}
			.slide_area_text hr{border-color:#000;}
			.slide_area_text div{
													width:260px;
													color:#000;
													height:100%;
													margin:0 auto;
													padding-top:0;
													font-size:11px;
													}

/*########################## footer 320 ~ 480px ###############################*/
	#footerWrap{height:460px;}
		.footer_gnb{width:100%; font-size:12px; text-align:center;}
			.footer_gnb li{margin-left:2px;}
				.footer_gnb li a{padding:5px 3px;}
		.footer_logo{padding-top:10px;}

	.footer_bottom{width:100%; height:330px; background-color:#2B2727;}
	.footer_bottom_area{width:100%;}
		.footer_info li{width:100%; margin-right:0; padding-bottom:20px;}

			.footer_info li dl dt{font-size:14px;}
		}
